<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/angular-toastr/angular-toastr.min.css">
  <link rel="stylesheet" href="/styles/app.css">
  <link rel="stylesheet" href="/styles/foundation/foundation.min.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->
  <title>Dashboard</title>
</head>
<body>
  <div class="top-bar" id="main-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Site Title</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu vertical medium-horizontal" data-responsive-menu="drilldown medium-dropdown">
      <li class="has-submenu">
        <a href="#">One</a>
        <ul class="submenu menu vertical" data-submenu>
          <li><a href="#">One</a></li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
        </ul>
      </li>
      <li><a href="#">Two</a></li>
      <li><a href="#">Three</a></li>
    </ul>
  </di
<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/jquery/jquery.min.js"></script>
<script src="/js/dependencies/foundation/foundation.min.js"></script>
<script src="/js/dependencies/angular/angular.js"></script>
<script src="/js/dependencies/angular-toastr/angular-toastr.min.js"></script>
<script src="/js/dependencies/angular-toastr/angular-toastr.tpls.js"></script>
<script src="/js/dependencies/moment/moment-with-locales.min.js"></script>
<script src="/js/public/signup/signupMod.js"></script>
<script src="/js/public/signup/signupCtrl.js"></script>
<script src="/js/public/login/loginMod.js"></script>
<script src="/js/public/login/loginCtrl.js"></script>
<!--SCRIPTS END-->
</body>
</html>