<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/foundation/foundation.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/angular-toastr/angular-toastr.min.css">
    <link rel="stylesheet" href="/styles/app.css">
    <!--STYLES END-->
    <title>DAP Auth</title>
  </head>
  <body ng-app="LoginMod" ng-controller="LoginCtrl">
    <div class="large-4 large-centered columns">
      <div class="signup-box">
        <div class="row">
          <div class="large-12 columns">
            <h2 class="text-center">
            UserAuth
            </h2>
            <p>Please log in or create an account</p>
            <form ng-submit="runLogin()">
              <div class="row">
                <div class="large-12 columns">
                  <input type="email" placeholder="Email Address" name="email" ng-model="email" required >
                </div>
              </div>
              <div class="row">
                <div class="large-12 columns">
                  <input ng-model="password" ng-maxlength="20" type="password" name="password" placeholder="Password" required />
                </div>
              </div>
              <div class="row">
                <div class="large-5 columns">
                  <input type="submit" class="button expand" value="Log In" />
                </div>
                <div class="large-7 columns">
                  <a href="/signup" class="button expand">Create Account</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--SCRIPTS-->
      <script src="/js/dependencies/sails.io.js"></script>
      <script src="/js/dependencies/jquery/jquery.min.js"></script>
      <script src="/js/dependencies/foundation/foundation.min.js"></script>
      <script src="/js/dependencies/angular/angular.js"></script>
      <script src="/js/dependencies/angular-toastr/angular-toastr.min.js"></script>
      <script src="/js/dependencies/angular-toastr/angular-toastr.tpls.js"></script>
      <script src="/js/dependencies/moment/moment-with-locales.min.js"></script>
      <script src="/js/private/dashboard/dashMod.js"></script>
      <script src="/js/private/dashboard/dashCtrl.js"></script>
      <script src="/js/public/signup/signupMod.js"></script>
      <script src="/js/public/signup/signupCtrl.js"></script>
      <script src="/js/public/login/loginMod.js"></script>
      <script src="/js/public/login/loginCtrl.js"></script>
      <!--SCRIPTS END-->
    </body>
  </html>